             /* Custom properties */
             :root {
                 /* Color Theme in Hex */
                 --lime-1-hex: #0E2618;
                 --lime-2-hex: #3FBF48;
                 --lime-3-hex: #8CBF3F;
                 --lime-4-hex: #bff272;
                 --lime-5-hex: #F2F2F2;
                 --contrast-light-color: #A63FBF;
                 --contrast-dark-color: #63466A;
             }

             /* Reset */
             * {
                 margin: 0;
                 padding: 0;
                 box-sizing: border-box;
             }

             /* Generics */
             body {
                 font-family: "Roboto", sans-serif;
                 font-weight: 400;
                 font-style: normal;
                 height: 100vh;
             }

             /* Fonts */
             .roboto-bold {
                 font-family: "Roboto", sans-serif;
                 font-weight: 700;
                 font-style: normal;
             }

             .roboto-thin-italic {
                 font-family: "Roboto", sans-serif;
                 font-weight: 100;
                 font-style: italic;
             }

             .roboto-light-italic {
                 font-family: "Roboto", sans-serif;
                 font-weight: 300;
                 font-style: italic;
             }

             /* header */
             header,
             footer {
                 height: 100px;
                 background-color: var(--contrast-dark-color);
             }

             main {
                 padding: 15px 30px;
                 display: flex;
                 justify-content: space-between;
                 height: calc(100vh - 200px);
             }

             .left {
                 width: 300px;
                 background-color: var(--lime-2-hex);
                 padding: 15px;
             }

             .inner-content {

                 background-color: var(--contrast-light-color);
                 border: 1px solid black;
             }

             .margin-b {
                 margin-bottom: 15px;
             }


             .right {
                 color: white;
                 flex-grow: 1;
                 padding-left: 15px;

             }

             .right>div {
                 background-color: var(--lime-1-hex);
                 height: 100%;
             }